extends ../layouts/main-layout.pug

block title
  title Cart


block styles
  link(rel="stylesheet", href="/css/forms.css")

block content
  main
    if products.length > 0
      h1.centered Cart
      each p in products
        .cart-item
          h3 <em>#{p.qty}</em> - #{p.title}, $#{p.price}, quantity - #{p.cartItem.qty}
          form(action="/cart/delete", method="POST")
            input(type="hidden", name="productId", value=`${p.id}`)
            button.btn(type="submit") Delete product from cart
      .centered
        form(action="/order-now", method="POST")
          button.btn Order Now

    else 
      h2 There is no products in the cart