extends ../layouts/main-layout.pug

block title 
  title Product Detail

block content
  main
    h1.centered #{product.title}
    hr
    div.centered
      img(src=`${product.imageUrl}`, alt=`${product.title}`)
    h2.centered $#{product.price}
    p.centered #{product.description}
    form.centered(action="/cart", method="POST")
      button.btn(type="submit") Add to Cart
      input(type="hidden", name="productId", value=`${product.id}`)